<div class="row">

    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-5">
        <div class="hovereffect">
            <img class="img-responsive" src="../../assets/images/googleplaystore.jpg" alt="">
            <div class="overlay">
                <h2 style="font-size: 21px">Google Application</h2>
                <p class="projects">
                    Created an android application called FORTRON and published it in google play store, in which the
                    app
                    will send a android device location to the registered user's email when an incorrect password
                    attempt
                    has been made in the device.Also has the Diet Notifier feature.
                </p>
                <a class="info" href="https://github.com/GirishHR/GoogleApp" style="text-decoration: none;"><button
                        class="btn"><span>View
                            Project</span></button></a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-5">
        <div class="hovereffect">
            <img class="img-responsive" src="assets/images/trafficlights.jpg" alt="">
            <div class="overlay">
                <h2 style="font-size: 19px">Emergency Assistance</h2>

                <p class="projects">
                    Implemented using Arduino application and the Arduino Devices,where the communication will happen
                    through RFID Transmitter and RFID Receiver.
                </p>

                <a class="info" href="https://github.com/GirishHR/wirelesstraffic"
                    style="text-decoration: none;"><button class=" btn"><span>View
                            Project</span></button></a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-5">
        <div class="hovereffect">
            <img class="img-responsive" src="assets/images/librarymanagement.jpg" alt="">
            <div class="overlay">
                <h2 style="font-size: 21px">Library Management</h2>
                <p class="projects">
                    Developed a Database Management System providing complete platform to maintain hotel database with
                    backend development.
                </p>

                <a class="info" href="https://github.com/GirishHR/librarymngmnt" style="text-decoration: none;"><button
                        class="btn"><span>View
                            Project</span></button></a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-5">
        <div class="hovereffect">
            <img class="img-responsive" src="assets/images/recipebook.jpg" alt="">
            <div class="overlay">
                <h2>Recipe Project</h2>
                <p class="projects">
                    Developed a website of Recipe book using Angular8 which contains the
                    recipe items and the shopping items to list the recipes.
                </p>

                <a class="info" href="https://github.com/GirishHR/AngularProject" style="text-decoration: none;"><button
                        class="btn"><span>View
                            Project</span></button></a>
            </div>
        </div>
    </div>
    <!-- <div class="offset-lg-3 col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-5"> -->
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-5">
        <div class="hovereffect">
            <img class="img-responsive" src="assets/images/bootstrap-image.jpg" alt="">
            <div class="overlay">
                <h2 style="font-size: 22px">Bootstrap Project</h2>
                <p class="projects">
                    Developed a sample website which contains the bootstrap
                    version4 functionalities.
                </p>

                <a class="info" href="https://github.com/GirishHR/Bootstrap-Projects"
                    style="text-decoration: none;"><button class="btn"><span>View
                            Project</span></button></a>
            </div>
        </div>
    </div>
</div>