<!-- <div class="col-lg-3 col-md-4 mt-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" src="../../assets/images/girish.jpg" alt="">
        <div class="overlay">
            <h2>Hover effect 4v2</h2>
            <a class="info" href="#">link here</a>
        </div>
    </div>
</div> -->
<div class="row">

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
        <div class="hovereffect">
            <img class="img-responsive" src="../../assets/images/googleplaystore.jpg" alt="">
            <div class="overlay">
                <h2>Google Application</h2>
                <a class="info" href="#" style="text-decoration: none;"><button class="btn"><span>View
                            Project</span></button></a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
        <div class="hovereffect">
            <img class="img-responsive" src="../../assets/images/trafficlights.jpg" alt="">
            <div class="overlay">
                <h2>Emergency Assistance</h2>

                <p style="padding-top: 73px; padding-bottom: 18px;font-weight: bold;    color: black;">
                    Implemented using Arduino application and the Arduino Devices,where the communication will happen
                    through RFID Transmitter and RFID Receiver.
                </p>

                <a class="info" href="https://github.com/GirishHR/wirelesstraffic"
                    style="text-decoration: none;"><button class=" btn"><span>View
                            Project</span></button></a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
        <div class="hovereffect">
            <img class="img-responsive" src="../../assets/images/librarymanagement.jpg" alt="">
            <div class="overlay">
                <h2>Library Management</h2>
                <p style="padding-top: 73px; padding-bottom: 18px;font-weight: bold;    color: black;">
                    Developed a Database Management System providing complete platform to maintain hotel database with
                    backend development.
                </p>

                <a class="info" href="https://github.com/GirishHR/librarymngmnt" style="text-decoration: none;"><button
                        class="btn"><span>View
                            Project</span></button></a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
        <div class="hovereffect">
            <img class="img-responsive" src="../../assets/images/recipebook.jpg" alt="">
            <div class="overlay">
                <h2>Recipe Project</h2>
                <p style="padding-top: 73px; padding-bottom: 18px;font-weight: bold;    color: black;">
                    Developed a website of Recipe book using Angular8 which contains the
                    recipe items and the shopping items to list the recipes.
                </p>

                <a class="info" href="https://github.com/GirishHR/AngularProject" style="text-decoration: none;"><button
                        class="btn"><span>View
                            Project</span></button></a>
            </div>
        </div>
    </div>
    <div class="offset-lg-3 offset-md-3 offset-sm-3 col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
        <div class="hovereffect">
            <img class="img-responsive" src="../../assets/images/bootstrap-image.jpg" alt="">
            <div class="overlay">
                <h2>Bootstrap Project</h2>
                <p style="padding-top: 73px; padding-bottom: 18px;font-weight: bold;    color: black;">
                    Developed a sample website which contains the bootstrap
                    version4 functionalities.
                </p>

                <a class="info" href="https://github.com/GirishHR/Bootstrap-Projects"
                    style="text-decoration: none;"><button class="btn"><span>View
                            Project</span></button></a>
            </div>
        </div>
    </div>
</div>