<div class="row">
    <div class="col-md-12">
        <div class="contactoverlay">
            <div class="contactbody">
                <img class="contactimage" src="../../assets/images/coder.jpg" alt="">
                <div>
                    <h1 style="color: white;margin-top: 10px;margin-left:20px;font-family:initial">
                        Hey! Thanks for reaching me out.</h1>
                    <h3
                        style="color: white; margin-top: 23px; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
                        You
                        can contact me with these media's that I'm in. </h3>


                </div>

            </div>
            <div class="social-media">
                <a href=" https://twitter.com/TheGirishRaj?s=08" class="icon-button twitter"><i class="fa fa-twitter"
                        aria-hidden="true"></i><span></span></a>
                <a href="https://www.linkedin.com/in/girish-h-r-61562a172" class="icon-button linkedin"><i
                        class="fa fa-linkedin-square" aria-hidden="true"></i><span></span></a>
                <a href="mailto:girishr.tiptur@gmail.com" class="icon-button google"><i class="fa fa-envelope"
                        aria-hidden="true"></i><span></span></a>
                <a href="https://github.com/GirishHR?tab=repositories" class="icon-button github"><i
                        class="fa fa-github" aria-hidden="true"></i><span></span></a>
            </div>
            <div class="contacts">
                <h3>
                    <a href="tel:+917353140565" style="
    text-decoration: none;">
                        <strong class="icon-contact call"><i class="fa fa-mobile" aria-hidden="true"></i>
                            <span></span>
                        </strong>
                        <strong style="font-family:cursive;color: floralwhite;margin-left: 5px;">+917353140565</strong>

                    </a>
                    <a href="mailto:girishr.tiptur@gmail.com" style="
                        text-decoration: none;    margin-left: 265px;">
                        <strong class="icon-contact call"><i class="fa fa-envelope" aria-hidden="true"></i>
                            <span></span>
                        </strong>
                        <strong
                            style="font-family:cursive;color: floralwhite;margin-left: 5px;">girishr.tiptur@gmail.com</strong>

                    </a>
                </h3>
            </div>

        </div>

    </div>
</div>