<div id="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
            <div class="section">
                <h2><u>Professional Profile:</u></h2>
                <p>Interested in Data Science and seeking Data Scientist job position inorder to build a long term
                    career by the best of my knowledge and educational qualification, to serve the organization with an
                    excellent result.</p>
            </div>
        </div>
        <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <div class="section">
                <div>
                    <h2 style="margin-bottom:5%;"><u>Educational Qualification:</u></h2>
                    <div style="text-align: center;">
                        <div style="box-shadow: 0 2em 2em 2em rgba(0, 0, 0, .25);margin-bottom: 6%;"
                            class="offset-lg-2 offset-md-2 offset-sm-2 col-md-8 col-lg-8 col-sm-8 col-xs-8">
                            <h3 class="charts" style="margin-bottom: 5%;">B.E - C S E (2016-19)</h3>
                            <canvas id="becanvas"></canvas>

                        </div>
                        <div style="box-shadow: 0 2em 2em 2em rgba(0, 0, 0, .25);margin-bottom: 6%;"
                            class="offset-lg-2 offset-md-2 col-md-8 col-lg-8 col-sm-8 col-xs-8">
                            <h3 class="charts" style="margin-bottom: 5%;">XII Class (2015)</h3>
                            <canvas id="puccanvas"></canvas>

                        </div>
                        <div style="box-shadow: 0 2em 2em 2em rgba(0, 0, 0, .25);margin-bottom: 6%;"
                            class="offset-lg-2 offset-md-2  col-md-8 col-lg-8 col-sm-8 col-xs-8">
                            <h3 class="charts" style="margin-bottom: 5%;">X Class (2013)</h3>
                            <canvas id="sslccanvas"></canvas>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <div class="section">
                <h2 style=" margin-bottom:5%;"><u>Technologies:</u></h2>
                <div class="list-type1" style="text-align: left;">
                    <ol class="offset-2 col-md-12 col-lg-12 col-sm-12 col-xs-12 offset-2">
                        <li><a href="https://www.python.org/">Python</a></li>
                        <li><a href="http://www.cplusplus.com/doc/tutorial/structures/">Data Structures</a></li>
                        <li><a href="https://angular.io/">Angular8</a></li>
                        <li><a href="https://isocpp.org/get-started">C/C++</a></li>
                        <li><a href="https://getbootstrap.com/">Bootstrap</a></li>
                    </ol>
                </div>

            </div>
        </div>
        <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <div class="section">
                <h2 style=" margin-bottom:5%;"><u>Work Experience:</u></h2>

            </div>
        </div>
    </div>
</div>