<div [hidden]="!bechart" id="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
            <div class="section">
                <h2><u>Professional Profile:</u></h2>
                <p>Interested in Python and Data Science Technologies. Seeking reputed
                    engineering firm job position in order to build a
                    long-term career by the best of my knowledge and
                    educational qualification, to serve the
                    organization with an excellent result.</p>
            </div>
        </div>
        <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="section">
                <div>
                    <h2 style="margin-bottom:5%;white-space: nowrap;font-size: 1.8rem;"><u>Educational
                            Qualification:</u></h2>
                    <div style="text-align: center;">
                        <div style="box-shadow: 0 2em 2em 2em rgba(0, 0, 0, .25);margin-bottom: 6%;"
                            class="offset-lg-2 offset-md-2 offset-sm-2 col-md-8 col-lg-8 col-sm-8 col-xs-8">
                            <h3 class="charts" style="margin-bottom: 5%;">B.E - C S E (2016-19)</h3>
                            <canvas id="becanvas">{{bechart}}</canvas>

                        </div>
                        <div style="box-shadow: 0 2em 2em 2em rgba(0, 0, 0, .25);margin-bottom: 6%;"
                            class="offset-lg-2 offset-md-2 col-md-8 col-lg-8 col-sm-8 col-xs-8">
                            <h3 class="charts" style="margin-bottom: 5%;">XII Class (2015)</h3>
                            <canvas id="puccanvas"></canvas>

                        </div>
                        <div style="box-shadow: 0 2em 2em 2em rgba(0, 0, 0, .25);margin-bottom: 6%;"
                            class="offset-lg-2 offset-md-2  col-md-8 col-lg-8 col-sm-8 col-xs-8">
                            <h3 class="charts" style="margin-bottom: 5%;">X Class (2013)</h3>
                            <canvas id="sslccanvas"></canvas>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 section2">
            <div class="section">
                <h2 style=" margin-bottom:5%;"><u>Technologies:</u></h2>
                <div class="list-type1" style="text-align: left;">
                    <ol class="offset-2 col-md-12 col-lg-12 col-sm-12 col-xs-12 offset-2">
                        <li><a href="https://www.python.org/">Python</a></li>
                        <li><a href="http://www.cplusplus.com/doc/tutorial/structures/">Data Structures</a></li>
                        <li><a href="https://angular.io/">Angular8</a></li>
                        <li><a href="https://isocpp.org/get-started">C/C++</a></li>
                        <li><a href="https://getbootstrap.com/">Bootstrap</a></li>
                    </ol>
                </div>

            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 section6">
            <div class="section">
                <h2><u>Certifications:</u></h2>

                <div class="offset-lg-2 offset-md-2 offset-sm-2 col-md-8 col-lg-8 col-sm-8 col-xs-8 articlemedium">
                    <div class="card publication-card certification"
                        style="box-shadow: 0 1em 1em 1em rgba(0, 0, 0, .25); justify-content: center;">
                        <a href="https://www.microsoft.com/en-in"><img src="assets/images/microsoftlogo.jpg"
                                alt="profile-image" class="profile" style="top:16%" /></a>
                        <div class="card-content">
                            <h2><u>Python Certified</u><small>Successfully cleared the Python Certification Exam
                                    <br>conducted
                                    by
                                    <b>Microsoft Corporation.</b>
                                </small>
                            </h2>
                            <div class="icon-block text-center"><a
                                    href="https://www.youracclaim.com/badges/16c4d348-5146-4406-879f-c7fbe0aa12c3/public_url"
                                    class="btn btn-dark articledownload">View Badge
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="offset-lg-2 offset-md-2 offset-sm-2 col-md-8 col-lg-8 col-sm-8 col-xs-8 articlemedium">
                    <div class="card publication-card certification"
                        style="box-shadow: 0 1em 1em 1em rgba(0, 0, 0, .25); justify-content: center;">
                        <a href="https://www.microsoft.com/en-in"><img src="assets/images/hackerrank_logo.jpg"
                                alt="profile-image" class="profile" style="top:16%" /></a>
                        <div class="card-content">
                            <h2><u>Python Certified</u><small>Successfully cleared the Python Certification Exam
                                    <br>conducted
                                    by
                                    <b>HackerRank.</b>
                                </small>
                            </h2>
                            <div class="icon-block text-center"><a
                                    href="https://www.hackerrank.com/certificates/be892840a2a5"
                                    class="btn btn-dark articledownload">Certificate
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 mt-4 section3">
            <div class="section">
                <h2><u>Publications:</u></h2>

                <div class="offset-lg-2 offset-md-2 offset-sm-2 col-md-8 col-lg-8 col-sm-8 col-xs-8 articlemedium">
                    <div class="card publication-card"
                        style="box-shadow: 0 1em 1em 1em rgba(0, 0, 0, .25);justify-content: center;">
                        <!-- <img src="assets/images/workexperiencebackground.jpg" alt="profile-sample1"
                                                            class="background" /> -->
                        <a href="https://play.google.com/store/apps/details?id=com.something.googleapp"><img
                                src="assets/images/Fortron_logo.jpg" alt="profile-image" class="profile" /></a>
                        <div class="card-content">
                            <h2><u>Android Application</u><small>Published an android app called "Fortron" in <b>Google
                                        Play.</b></small>
                            </h2>
                            <div class="icon-block text-center"><a
                                    href="https://play.google.com/store/apps/details?id=com.something.googleapp"
                                    class="btn btn-dark articledownload">Get App
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="offset-lg-2 offset-md-2 offset-sm-2 col-md-8 col-lg-8 col-sm-8 col-xs-8 articlemedium">
                    <div class="card publication-card"
                        style="box-shadow: 0 1em 1em 1em rgba(0, 0, 0, .25);justify-content: center;">
                        <!-- <img src="assets/images/workexperiencebackground.jpg" alt="profile-sample1"
                                                                            class="background" /> -->
                        <a href="https://girishrangaraju.info/#/home"><img src="assets/images/websitelogo.jpg"
                                alt="profile-image" class="profile" /></a>
                        <div class="card-content">
                            <h2><u>PROFILE WEBSITE</u><small>Published a website developed using Angular8.</small>
                            </h2>
                            <div class="icon-block text-center"><a href="https://girishrangaraju.info/#/home"
                                    class="btn btn-dark articledownload">Visit
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="offset-lg-2 offset-md-2 offset-sm-2 col-md-8 col-lg-8 col-sm-8 col-xs-8 articlemedium">
                    <div class="card publication-card"
                        style="box-shadow: 0 1em 1em 1em rgba(0, 0, 0, .25);justify-content: center;">
                        <!-- <img src="assets/images/workexperiencebackground.jpg" alt="profile-sample1"
                            class="background" /> -->
                        <a href="https://medium.com/@girishr.tiptur/fortron-fa91e41c9912"><img
                                src="assets/images/medium_logo.jpg" alt="profile-image" class="profile" /></a>
                        <div class="card-content">
                            <h2><u>Medium Article</u><small>Wrote Story on an Android App called "Fortron" in
                                    <b>Medium.</b></small>
                            </h2>
                            <div class="icon-block text-center"><a
                                    href="https://medium.com/@girishr.tiptur/fortron-fa91e41c9912"
                                    class="btn btn-dark articledownload">Read
                                    Story
                                </a>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
        <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 section4 mt-4">
            <div class="section">
                <h2><u>Work Experience:</u></h2>
                <div class="offset-lg-2 offset-md-2 offset-sm-2 col-md-8 col-lg-8 col-sm-8 col-xs-8 first">
                    <div class="card profile-card-1"
                        style="box-shadow: 0 1em 1em 1em rgba(0, 0, 0, .25);margin-bottom: 6%;">
                        <img src="assets/images/workexperiencebackground.jpg" alt="profile-sample1"
                            class="background" />
                        <a href="https://www.tcs.com/"><img src="assets/images/tcslogo.jpg" alt="profile-image"
                                class="profile" /></a>
                        <div class="card-content">
                            <h2>Fifth Third Bank<small>Cincinnati, USA ( 2019-Present )</small></h2>
                            <div class="icon-block text-center"><a href="" class="btn btn-dark download"
                                    data-toggle="modal" data-target="#ftbmodal">Read
                                    More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="offset-lg-2 offset-md-2 offset-sm-2 col-md-8 col-lg-8 col-sm-8 col-xs-8 second">
                    <div class="card profile-card-1"
                        style="box-shadow: 0 1em 1em 1em rgba(0, 0, 0, .25);margin-bottom: 6%;">
                        <img src="assets/images/workexperiencebackground2.jpg" alt="profile-sample1"
                            class="background" />
                        <a href="https://adarshana.com/"><img src="assets/images/adarshana.jpg" alt="profile-image"
                                class="profile" /></a>
                        <div class="card-content">
                            <h2>Adarshana Technology Solutions Private Limited<small>Bangalore( Dec 2018- Apr 2019
                                    )</small></h2>
                            <div class="icon-block"><a href="" class="btn btn-dark download" data-toggle="modal"
                                    data-target="#adarshanaprojectmodal">Read
                                    More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


                <h2 class="offset-lg-2 offset-md-2 offset-sm-2 col-md-8 col-lg-8 col-sm-8 col-xs-8 third">
                    <h2 class=" card profile-card-1"
                        style="box-shadow: 0 1em 1em 1em rgba(0, 0, 0, .25);margin-bottom: 6%;">
                        <img src="assets/images/workexperiencebackground3.jpg" alt="profile-sample1"
                            class="background" />
                        <a href="https://adarshana.com/"><img src="assets/images/adarshana.jpg" alt="profile-image"
                                class="profile" /></a>
                        <h2 class="card-content">
                            <h2>Adarshana Technology Solutions Private Limited<small>Bangalore( May 2018- Jul 2018
                                    )</small></h2>
                            <div class="icon-block"><a href="" class="btn btn-dark download" data-toggle="modal"
                                    data-target="#adarshanainternshipmodal">Read
                                    More
                                </a>
                            </div>
                        </h2>
                    </h2>
                </h2>



            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ftbmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle" style="text-transform: uppercase;">Tata Consultancy
                    Services.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i
                        class="fa fa-times-circle" aria-hidden="true" style="font-size: 25px;"></i>
                </button>
            </div>
            <div class="modal-body">
                <strong> Worked as a "Frontend Developer" for "Fifth Third Bank" client at "TCS".</strong>
                <ul>
                    <li>Worked on Client's data and Data Visualization of the respective.
                    </li>
                    <li>Worked on Bank Dashboard to provide Visualization of live data
                        with effective user interface to Clients. </li>
                    <li>Communicated and Worked directly with the client's to ensure that the designs were efficient
                        and
                        technically good. </li>
                    <li>Worked with the backend developers to optimize the UI for better user experience.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary download" data-dismiss="modal"
                    style="color:black;">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="adarshanaprojectmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle" style="text-transform: uppercase;">Adarshana
                    Technology Solutions Private Limited.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i
                        class="fa fa-times-circle" aria-hidden="true" style="font-size: 25px;"></i>
                </button>
            </div>
            <div class="modal-body">
                <strong> Worked as Data Scientist in an Internship to develop a Data Science Project with the Company.
                </strong>
                <ul>
                    <li>Worked on Azure cloud technology to retrieve the Device usage live data.
                    </li>
                    <li>Worked on Visualizing device usage data and to provide the respective visualized data to the
                        specified. </li>
                    <li>Used most of the data science methodologies on live data to interpret it as a meaningful data
                        and also to point out the abnormalities of the device usage.</li>
                    <li>Developed automated scripts that ensures to work on getting the usage using Python.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary download" data-dismiss="modal"
                    style="color:black;">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="adarshanainternshipmodal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle" style="text-transform: uppercase;">Adarshana
                    Technology Solutions Private Limited.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i
                        class="fa fa-times-circle" aria-hidden="true" style="font-size: 25px;"></i>
                </button>
            </div>
            <div class="modal-body">
                <strong> Worked as a Data Scientist to develop the Home Automation Device.</strong>
                <ul>
                    <li>Worked on IOT device to establish remote communication between devices.
                    </li>
                    <li>Worked on the device to repeatedly feed the live data to the cloud with the time interval.</li>
                    <li>Worked on cloud connectivity and authentication measures. </li>
                    <li>Directly dealing with the higher authority team to provide device usage measures.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary download" data-dismiss="modal"
                    style="color:black;">Close</button>
            </div>
        </div>
    </div>
</div>