<div id="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
            <div class="section">
                <h2><u>Professional Profile</u></h2>
                <p>Interested in Data Science and seeking Data Scientist job position inorder to build a long term
                    career by the best of my knowledge and educational qualification, to serve the organization with an
                    excellent result.</p>
            </div>
        </div>
        <div class="col-12">
            <div class="section">
                <h2><u>Professional Profile</u></h2>
                <div class=" col-md-6 col-lg-6 col-sm-6 col-xs-12">
                    <p>Interested in Data Science and seeking Data Scientist job position inorder to build a long term
                        career by the best of my knowledge and educational qualification, to serve the organization with
                        an
                        excellent result.</p>
                    <canvas id="canvas"></canvas>

                </div>
            </div>
        </div>
    </div>
</div>