<div id="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="v-header container1">
                <div class="fullscreen-video-wrap">
                    <!--  https://www.videvo.net/video/typing-on-computer-white-bg/4475/ -->
                    <!-- DO NOT USE THIS VIDEO, I JUST NEEDED A HOSTED VIDEO FOR THIS CODEPEN> USE THE ONE ABOVE -->
                    <video autoplay loop [muted]="'muted'">
                        <source src="../../assets/videos/coding.mp4" type="video/mp4" />
                    </video>
                </div>
                <div class="header-overlay"></div>
                <div class="header-content text-md-center" style="margin-top: 85px;">
                    <img src="../../assets/images/girish.jpg" alt="Avatar"
                        style="width:250px;height:250px ;border-radius: 50%;">
                    <h1 style="margin-top:5px;">Welcome Everyone</h1>
                    <h3 style="margin-top:5px;">I'm Girish</h3>
                    <div class="link-button">

                        <a routerLinkActive="active" class="nav-link" routerLink="/portfolio">
                            <span class="mr-2" style="font-style: italic;color: whitesmoke;">Here's
                                more what I
                                do</span>
                            <i class="fa fa-angle-right fa-lg" aria-hidden="true"
                                style="color:whitesmoke; margin-left:1px"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>