<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="v-header">
            <div class="fullscreen-video-wrap">
                <video autoplay loop [muted]="'muted'">
                    <source src="assets/videos/coding.mp4" type="video/mp4" />
                </video>
            </div>

            <div class="header-overlay">

                <div class="homebody">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " style="text-align: end;">
                        <a href="assets/files/GIRISH_RESUME.pdf" download>
                            <button type="button" class="btn btn-dark download">Download
                                Resume</button>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-5">
                        <div class="header-content text-center">
                            <img src="assets/images/girish.jpg" alt="Avatar"
                                style="width:250px;height:250px ;border-radius: 50%;">
                            <h1 style="margin-top:1%;">Welcome Everyone</h1>
                            <h2 style="margin-top:1%;">I'm Girish</h2>
                            <a routerLinkActive="active" class="nav-link" routerLink="/portfolio">
                                <h5 class=" mt-5" style="color: whitesmoke;font-weight:400;padding:auto;">Here's
                                    more what I
                                    do
                                    <i class="fa fa-angle-right fa-lg jump" aria-hidden="true"
                                        style="color:whitesmoke; margin-left:1%"></i></h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>